<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOIH44yg2Oiy4eOby57y-zh_PEE8ZqH-M</string>
	<key>GCM_SENDER_ID</key>
	<string>126453755347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.migrant</string>
	<key>PROJECT_ID</key>
	<string>long-equinox-419408</string>
	<key>STORAGE_BUCKET</key>
	<string>long-equinox-419408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126453755347:ios:16a47ea880b88f0399d326</string>
</dict>
</plist>